<div class="header-wrapper">
    <div class="title"> My Contacts</div>
    <div class="left-side-wrapper">
        {{isLoading ? 'Loading...' : ''}}
        <img src="assets/icons/plus-icon.png" style="width: 30px; height: 30px" (click)="navigateToAddContact()"/>
        <img src="assets/icons/add-random.png" style="width: 30px; height: 30px" (click)="generateRandomContact()"/>
    </div>
</div>
<hr>

<div class="contacts-wrapper">
    <ng-container *ngIf="contacts$ | async as contacts">
        <div *ngFor="let contact of (contacts | sortContactsByName); trackBy: trackByName"
             class="contact-wrapper"
             (click)="navigateToContactDetails(contact.id)">
            <div [ngClass]="contact.isFavorite ? '' : 'hidden'">
                <img src="assets/icons/star-icon.png" style="width: 15px; height: 15px"/>
            </div>
            <div class="img-wrapper">
                <img [src]="contact.image"/>
            </div>
            <div class="detail-wrapper">
                <span class="name"> {{contact.name | titleCase}}</span>
                <span class="address"> {{contact.full_address | titleCase}}</span>
            </div>
        </div>
    </ng-container>
</div>
