<div class="header-wrapper">
    <img src="assets/icons/star-icon.png" style="width: 30px; height: 30px"/>
    <img src="../../assets/icons/edit-icon.png" style="width: 30px; height: 30px" (click)="navigateToEdit()"/>
</div>

<div *ngIf="contact"
     class="contact-wrapper">
    <div class="img-wrapper">
        <img [src]="contact.image"/>
    </div>
    <div class="detail-wrapper">
        <span class="name"> {{contact.name | titleCase}}</span>
        <span class="address"> {{contact.full_address | titleCase}}</span>
        <span class="address">Email: {{contact.email}}</span>
        <span class="address">Phone: {{contact.phone}}</span>
        <span class="address"> Cell: {{contact.cell}}</span>
        <span class="address">Registration Date : {{contact.registration_date}}</span>
        <span class="address"> Age: {{contact.age}}</span>
    </div>
</div>


