:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-wrapper {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 2px solid #80808075;
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-bottom: 10px;

  .error {
    color: red;
    font-size: 0.8rem;
    margin-top: 4px;
  }
}

.submit-button {
  padding: 10px 15px;
  background-color: green;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.form-is-not-valid {
  display: flex;
  color: red;
  margin-top: 12px;
}


